<head>
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<style>

body {
  background-color: LemonChiffon;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
  color: brown;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  font-family: verdana;
  font-size: 15px;
}

h2 {
  color: brown;
  text-align: center;
}


p {
  text-align: left;
  
}
body {
  color: black;
}

p {
  font-family: verdana;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: brown;
   color: white;
   text-align: center;
}

</style>
</head>
<body>

<div class="header">
  <h1> </h1>
</div>

<div class="topnav">
 <a href="index.html"> </a>
  <a href="music.html"> </a>
  <a href="news.html"> </a>
</div>

<div class="header">
<h2> </h2>
</div>
<div>
<p> </p>
</div>
<div>
<img src="" alt="J.cole" style="width:150px">
</div>

<div class="footer">
  <p> </p>
</div>
</body>


<head>
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<style>

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

body {
  background-color: BlanchedAlmond;
}

h1 {
  color:DarkSlateblue ;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  font-family: verdana;
  font-size: 15px;
}

h2 {
  color: DarkSlateblue;
  text-align: center;
}

h3 {
  font-family: verdana;
  font-size: 13px;
}

h3 {
  color:DarkSlateblue ;
  text-align: left;
}

p {
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 12px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: sqaure;
  margin: 0;
  padding: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: brown;
   color: white;
   text-align: center;
}
</style>
</head>
<body>
 
<div class="header">
  <h1> </h1>
</div>
<div class="topnav">
 <a href="index.html"> </a>
  <a href="music.html"> </a>
  <a href="news.html"> </a>
</div>
<div class="header">
<h2> </h2>
</div>
<h3> </h3>
<div>
<img src="" alt="Cole World: The Sideline Story" style="width:150px">
<div>
<p> </p>
</div>
<div>
<h3> </h3>
</div>
<div>
<ul>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
</ul>
</div>
<div> 	
  <cite> <a href="http://www.discogs.com/J-Cole-Cole-World-The-Sideline-Story/master/527930"> </a> </cite>
</div>
<div>
<h3> </h3>
</div>
<div>
<img src="" alt="Born Sinner" style="width:150px">
</div>
<div>
<p> </p>
</div>
<div>
<h3> </h3>
</div>
<div>
<ul>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
</ul>
</div>
<div>
      <cite> <a href=""> </a> </cite>
</div>

<div>
  <h3> </h3>
  </div>
  <div>
  <img src="" alt="KOD" style="width:150px">
  </div>
  <div>
<p> </p>
</div>
<div>
<h3> </h3>
</div>
<div>
<ul>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
</ul>
</div>
<div>
      <cite> <a href="https://www.discogs.com/J-Cole-KOD/master/1351392"> </a> </cite>
</div>
<div class="footer">
  <p></p>
  </d>
</body>



<head>
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<style>

body {
  background-color: DarkKhaki;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
  color:DarkSlateblue ;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  font-family: verdana;
  font-size: 15px;
}

h2 {
  color: DarkSlateblue;
  text-align: center;
}

h3 {
  font-family: verdana;
  font-size: 13px;
}

p {
  text-align: left;
  
}
body {
  color: black;
}

p {
  font-family: verdana;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: grey;
   color: white;
   text-align: center;
}

</style>
</head>
<body>

<div class="header">
  <h1> </h1>
</div>

<div class="topnav">
 <a href="index.html"> </a>
  <a href="music.html"> </a>
  <a href="news.html"> </a>
</div>
<div>
</div>
<h2> </h2>
</div>
<div>
<h4> </h4>
</div>
<img src=""  alt="RS-Dreamer Proto Sneaker" style="width:150px">
</div>
<div>
<p> </p>
</div>
<div>
<cite> <a href=""> </a> </cite>
</div>
<div>
<h2> </h2>
</div>
<div>
<h4> </h4>
</div>
<div>
<img src=""  alt="Enny" style="width:150px">
</div>
<div>
<cite> <a href=""> </a> </cite>
</div>
<div class="footer">
  <p> </p>
</div>
</body>
