
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
<link rel="stylesheet" href="style.css">
<style>
<body>
* {box-sizing: border-box;}
body {
  background-color: LemonChiffon;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
  color: brown;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  font-family: verdana;
  font-size: 15px;
}

h2 {
  color: brown;
  text-align: center;
}


p {
  text-align: left;
  
}
body {
  color: black;
}

p {
  font-family: verdana;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 20px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: brown;
   color: white;
   text-align: center;
}

</style>
</head>
</body>



<div class="topnav">
 <a href="index.html">Home</a>
  <a href="music.html">Music</a>
  <a href="news.html">News</a>
</div>
<div class="header">
  <h1>Home</h1>
</div>
<div class="header">
<h2>Artist Background:</h2>
</div>
<div>
<p></p>
</div>
<div>
<img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTQ3Mzg3MjY0ODg2OTA4NTk5/j_cole_photo_by_isaac_brekken_wireimage_getty_503069628.jpg" alt="Paris" style="width:150px">
</div>

<div class="footer">
  <p>All righths reserved ©2021, contact: SAKOBUNDU@student.umgc.edu</p>
</div>
</body>




<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
<link rel="stylesheet" href="style.css">
<style>
<body>
* {box-sizing: border-box;}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

body {
  background-color: BlanchedAlmond;
}

h1 {
  color:DarkSlateblue ;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  font-family: verdana;
  font-size: 15px;
}

h2 {
  color: DarkSlateblue;
  text-align: center;
}

h3 {
  font-family: verdana;
  font-size: 13px;
}

h3 {
  color:DarkSlateblue ;
  text-align: left;
}

p {
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 12px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
ul{
  list-style-position: inside;
}
.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: brown;
   color: white;
   text-align: center;
}
</style>
</head>
</body>


<div class="topnav">
 <a href="index.html">Home</a>
  <a href="music.html">Music</a>
  <a href="news.html">News</a>
</div>
<div class="header">
  <h1>Music</h1>
</div>
<div class="header">
<h2>Three Album Choices:</h2>
</div>
<h3>"Cole World: The Sideline Story" </h3>
<div>
<img src="https://img.discogs.com/T5edvIPz5E6FMCc9QKAXWgjTrt0=/fit-in/600x587/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3131267-1317214394.jpeg.jpg" alt="Cole World: The Sideline Story" style="width:150px">
<div>
<p></p>
</div>
<div>
<h3>Tracklist:</h3>
</div>
<div>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <lih></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div>
<div> 	
  <cite><a href="http://www.discogs.com/J-Cole-Cole-World-The-Sideline-Story/master/527930">Cole World: The Sideline Story</a></cite>
</div>
<div>
<h3>"Born Sinner" </h3>
</div>
<div>
<img src="https://img.discogs.com/PUxFx_3zkexaE0ORsj5lo2fVGqI=/fit-in/566x563/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-5439359-1393382697-9401.png.jpg" alt="Born Sinner" style="width:150px">
</div>
<div>
<p> </p>
</div>
<div>
<h3>Tracklist:</h3>
</div>
<div>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <lih></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div>
<div>
      <cite><a href="https://www.discogs.com/J-Cole-Born-Sinner/master/626743

">Born Sinner</a></cite>
</div>

<div>
  <h3> "KOD"</h3>
  </div>
  <div>
  <img src="https://img.discogs.com/0ZJ2_v6ZR1eKUpJpV2_Q2I_ixyU=/fit-in/600x536/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-11893030-1524253541-7604.jpeg.jpg" alt="KOD" style="width:150px">
  </div>
  <div>
<p> </p>
</div>
<div>
<h3>Tracklist:</h3>
</div>
<div>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <lih></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div>
<div>
      <cite><a href="https://www.discogs.com/J-Cole-KOD/master/1351392">KOD</a></cite>
</div>
<div class="footer">
  <p>All righths reserved ©2021, contact: SAKOBUNDU@student.umgc.edu</p>
  </div>
</body>



<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
<link rel="stylesheet" href="style.css">
<style>
<body>
* {box-sizing: border-box;}

body {
  background-color: DarkKhaki;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
  color:DarkSlateblue ;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  font-family: verdana;
  font-size: 15px;
}

h2 {
  color: DarkSlateblue;
  text-align: center;
}

h3 {
  font-family: verdana;
  font-size: 13px;
}

p {
  text-align: left;
  
}
body {
  color: black;
}

p {
  font-family: verdana;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 20px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: grey;
   color: white;
   text-align: center;
}

</style>
</head>
</body>


<div class="topnav">
 <a href="index.html">Home</a>
  <a href="music.html">Music</a>
  <a href="news.html">News</a>
</div>

<div class="header">
  <h1>News</h1>
</div>
<div>
</div>
<h2>J.cole & Puma Hoops Team Up for RS-Dreamer Proto Sneaker.</h2>
</div>
<div>
<h4>By Rania Aniftos,
3/29/2021.</h4>
</div>
<img src="https://static.billboard.com/files/2021/03/puma-j-cole-RS-DREAMER-PROTO-pair-1548-1617047373-compressed.jpg"  alt="RS-Dreamer Proto Sneaker" style="width:150px">
</div>
<div>
<p> </p>
</div>

<div>
<h2>Enny on being starstruck: ‘I froze watching J Cole’.</h2>
</div>
<div>
<h4>By Olive Pometsey,
2 April 2021</h4>
</div>
<div>
<img src="https://media.gq-magazine.co.uk/photos/605b57d414e0d3a87405776c/16:9/w_720%2cc_limit/23112020_Enny_HP.jpg"  alt="Enny" style="width:150px">
</div>

<div class="footer">
  <p>All righths reserved ©2021, contact: SAKOBUNDU@student.umgc.edu</p>
</div>
</body>

